Section: misc
Priority: optional
Package: jenkins-php
Version: 1.0.0
Description: Jenkins php project build
Maintainer: Arbuzov <info@whitediver.com>
Architecture: all
Depends: jenkins, php5, ant, phpunit
